<html>
  <head>
  </head>
  <body>
    <h1>Some sample commands</h1>
    <h2>Player</h2>
    <ul>
      <li>  <a href="{{local_ip}}:5000/player/set_play_state?state=play">{{local_ip}}:5000/player/set_play_state?state=play</a> </li>
      <li>  <a href="http://{{local_ip}}:5000/player/set_play_state?state=pause">http://{{local_ip}}:5000/player/set_play_state?state=pause</a> </li>
      <li>  <a href="http://{{local_ip}}:5000/player/set_play_state?state=stop">http://{{local_ip}}:5000/player/set_play_state?state=stop</a> </li>
      <li>  <a href="http://{{local_ip}}:5000/browse/play_next">http://{{local_ip}}:5000/browse/play_next</a> </li>
      <li>  <a href="http://{{local_ip}}:5000/browse/play_previous">http://{{local_ip}}:5000/browse/play_previous</a> </li>

    </ul>

    <h2>Volume</h2>
    <ul>
      <li>  <a href="http://{{local_ip}}:5000/player/volume_up?offset=2">http://{{local_ip}}:5000/player/volume_up?offset=2</a> </li>
      <li>  <a href="http://{{local_ip}}:5000/player/volume_down">http://{{local_ip}}:5000/player/volume_down</a> </li>
      <li>  <a href="http://{{local_ip}}:5000/player/toggle_mute">http://{{local_ip}}:5000/player/toggle_mute</a> </li>
      <li>  <a href="http://{{local_ip}}:5000/player/get_volume">http://{{local_ip}}:5000/player/get_volume</a> </li>
    </ul>

    <h2>Presets</h2>
    <ul>
      <li>  <a href="http://{{local_ip}}:5000/browse/play_preset?preset=10">http://{{local_ip}}:5000/browse/play_preset?preset=10</a> </li>
    </ul>

    <h2>Source</h2>
    <ul>
      <li>  <a href="http://{{local_ip}}:5000/browse/play_input?input=inputs/mediaplayer">http://{{local_ip}}:5000/browse/play_input?input=inputs/mediaplayer</a> </li>
      <li>  <a href="http://{{local_ip}}:5000/browse/play_input?input=inputs/aux_single">http://{{local_ip}}:5000/browse/play_input?input=inputs/aux_single</a> </li>
      <li>  <a href="http://{{local_ip}}:5000/browse/play_queue?qid=1">http://{{local_ip}}:5000/browse/play_queue?qid=1</a> </li>
    </ul>

    <h2>Info</h2>
    <ul>
      <li>  <a href="http://{{local_ip}}:5000/player/get_queue?range=1,10000">http://{{local_ip}}:5000/browse/get_queue</a> </li>
      <li>  <a href="http://{{local_ip}}:5000/player/get_now_playing_media">http://{{local_ip}}:5000/player/get_now_playing_media</a> </li>
    </ul>

    <h2>Custom (non HEOS commands)</h2>
    <ul>
      <li>  <a href="http://{{local_ip}}:5000/on">http://{{local_ip}}:5000/on</a> </li>
      <li>  <a href="http://{{local_ip}}:5000/off">http://{{local_ip}}:5000/off</a> </li>
      <li>  <a href="http://{{local_ip}}:5000/status">http://{{local_ip}}:5000/status</a> </li>
    </ul>

  </body>

</html>

